@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Bold.woff2") format("woff2"), url("../fonts/Gilroy-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Medium.woff2") format("woff2"), url("../fonts/Gilroy-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Regular.woff2") format("woff2"), url("../fonts/Gilroy-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

.wrapper {
  width: 1320px;
  margin-right: auto;
  margin-left: auto;
}

body {
  font-family: "Gilroy";
  font-style: normal;
}

a {
  text-decoration: none;
}

.header {
  background-color: #FFFFFF;
  box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.05), inset 0px -5px 15px rgba(255, 255, 255, 0.44);
  padding-top: 48px;
  padding-bottom: 15px;
}
.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 42px;
}
.header__contact_phone {
  display: flex;
  align-items: center;
  margin-right: 60px;
}
.header__right_flex {
  display: flex;
  align-items: center;
  font-size: 0;
}
.header__logo-call {
  margin-right: 11px;
}
.header__number {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}
.header__icons {
  display: flex;
  align-items: center;
}
.header__buy {
  position: relative;
  margin-right: 15px;
}
.header__buy_logo {
  width: 25px;
  height: 25px;
}
.header__number-of-buy {
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  color: #FFFFFF;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  background-color: #06D10E;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  left: 50%;
  top: -40%;
}
.header__account_logo {
  width: 25px;
  height: 25px;
}
.header__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__nav {
  position: relative;
  font-size: 0;
}
.header__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #4F4F4F;
  margin-right: 40px;
}
.header__link:last-child {
  margin-right: 0px;
}
.header__link--arrow {
  margin-right: 60px;
}
.header__link--arrow::after {
  content: "";
  background-image: url("../images/arrow_nav.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 10px;
  height: 5px;
  position: absolute;
  margin-left: 7px;
  top: 8px;
}
.header__form {
  position: relative;
}
.header__search {
  display: inline-block;
  outline: none;
  background: #F2F2F2;
  border: 1px solid #BDBDBD;
  border-radius: 10px;
  height: 54px;
  width: 345px;
  padding: 17px 273px 16px 20px;
}
.header__search::placeholder {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #828282;
  font-family: "Gilroy";
  font-style: normal;
}
.header__search--btn {
  background: none;
  border: none;
  display: inline-block;
  position: absolute;
  right: 23px;
  top: 25%;
  cursor: pointer;
}

.main {
  background-color: #F9F9F9;
  padding-top: 90px;
  padding-bottom: 100px;
  font-size: 0px;
}
.main__menu {
  margin-bottom: 30px;
}
.main__menu--links:nth-child(odd)::after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  background: #BDBDBD;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  margin: 6px 14px 9px 14px;
}
.main__menu--links {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #BDBDBD;
}
.main__button {
  display: flex;
  align-content: center;
  margin-bottom: 44px;
}
.main__button p {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #333333;
}
.main__button--prev::before {
  content: "";
  background-image: url("../images/arrow_prev.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 6px;
  height: 11px;
  display: inline-block;
  margin-right: 11px;
  vertical-align: middle;
}

.cards-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 46px;
  column-gap: 20px;
  margin-bottom: 50px;
}
.cards-list__card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px 20px 30px;
  border: 1px solid #F2F2F2;
  box-shadow: -8px -8px 15px #FFFFFF, 8px 8px 15px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  width: 315px;
}
.cards-list__card .image {
  background-color: #FFFFFF;
  border-radius: 10px;
  margin-bottom: 25px;
}
.cards-list__card .title {
  font-weight: 600;
  font-size: 24px;
  line-height: 31px;
  color: #333333;
  margin-bottom: 5px;
}
.cards-list__card .description {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #828282;
  margin-bottom: 25px;
}
.cards-list__card .price {
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #333333;
  margin-bottom: 25px;
}

.card_form__radio {
  margin-bottom: 25px;
}
.card_form__radio--btn {
  display: inline-block;
  margin-right: 1px;
}
.card_form__radio--btn input {
  display: none;
}
.card_form__radio--btn input:checked + label {
  background-color: #FFFFFF;
  border: 1px solid #3ECF5E;
}
.card_form__radio--btn label {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #4F4F4F;
  display: inline-block;
  cursor: pointer;
  padding: 4px 12px;
  border-radius: 5px;
  user-select: none;
}
.card_form__buttons {
  display: flex;
  justify-content: space-between;
}
.card_form__btn {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
  display: inline-block;
  vertical-align: middle;
  padding: 12px 32px;
  background: #3FCF5E;
  border: 1px solid rgba(5, 175, 52, 0.53);
  border-radius: 10px;
}
.card_form__btn--buy {
  display: inline-block;
  background: #FFFFFF;
  border: 1px solid #BDBDBD;
  border-radius: 10px;
  padding: 9px 10px;
  vertical-align: middle;
}

.slider-prev-next {
  text-align: center;
  font-size: 0px;
}
.slider-prev-next p {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #828282;
  display: inline-block;
  margin-right: 20px;
}
.slider-prev-next p.checked {
  font-weight: 700;
  color: #219653;
}
.slider-prev-next p:last-child {
  margin-right: 0px;
}
.slider-prev-next__pages {
  display: inline-block;
}
.slider-prev-next__pages::before {
  content: "";
  background-image: url("../images/arrow_pre.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 6px;
  height: 12px;
  display: inline-block;
  margin-right: 30px;
}
.slider-prev-next__pages::after {
  content: "";
  background-image: url("../images/arrow_next.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 6px;
  height: 12px;
  display: inline-block;
  margin-left: 30px;
}

.footer {
  background-color: #333333;
  padding: 100px 0 129px 0;
}
.footer__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__content .links {
  font-size: 0px;
}
.footer__content .links a {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
  margin-right: 47px;
}
.footer__content .links a:last-child {
  margin-right: 0px;
}
.footer__content .icons_social {
  font-size: 0px;
}
.footer__content .icons_social a {
  display: inline-block;
  margin-right: 20px;
}
.footer__content .icons_social a:last-child {
  margin-right: 0px;
}
.footer__phone-numb {
  display: flex;
  align-items: center;
}
.footer__logo-call {
  margin-right: 11px;
}
.footer__number {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
}