@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Bold.woff2") format("woff2"), url("../fonts/Gilroy-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Medium.woff2") format("woff2"), url("../fonts/Gilroy-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Regular.woff2") format("woff2"), url("../fonts/Gilroy-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

.wrapper {
  width: 1320px;
  margin-right: auto;
  margin-left: auto;
}

body {
  font-family: "Gilroy";
  font-style: normal;
}

a {
  text-decoration: none;
}

.header {
  background-color: #FFFFFF;
  box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.05), inset 0px -5px 15px rgba(255, 255, 255, 0.44);
  padding-top: 48px;
  padding-bottom: 15px;
}
.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 42px;
}
.header__contact_phone {
  display: flex;
  align-items: center;
  margin-right: 60px;
}
.header__right_flex {
  display: flex;
  align-items: center;
  font-size: 0;
}
.header__logo-call {
  margin-right: 11px;
}
.header__number {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}
.header__icons {
  display: flex;
  align-items: center;
}
.header__buy {
  position: relative;
  margin-right: 15px;
}
.header__buy_logo {
  width: 25px;
  height: 25px;
}
.header__number-of-buy {
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  color: #FFFFFF;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  background-color: #06D10E;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  left: 50%;
  top: -40%;
}
.header__account_logo {
  width: 25px;
  height: 25px;
}
.header__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__nav {
  position: relative;
  font-size: 0;
}
.header__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #4F4F4F;
  margin-right: 40px;
}
.header__link:last-child {
  margin-right: 0px;
}
.header__link--arrow::after {
  content: "";
  position: absolute;
  left: 75px;
  top: 8px;
  background-image: url(../images/arrow_nav.svg);
  background-repeat: no-repeat;
  width: 10px;
  height: 10px;
}
.header__form {
  position: relative;
}
.header__search {
  display: inline-block;
  outline: none;
  background: #F2F2F2;
  border: 1px solid #BDBDBD;
  border-radius: 10px;
  height: 54px;
  width: 345px;
}
.header__search::placeholder {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #828282;
  font-family: "Gilroy";
  font-style: normal;
  padding: 17px 273px 16px 20px;
}
.header__search--img {
  position: absolute;
  right: 23px;
  top: 25%;
}

.main {
  background-color: #F9F9F9;
  padding-top: 90px;
  padding-bottom: 100px;
  font-size: 0px;
  margin-bottom: 30px;
}
.main__menu {
  margin-bottom: 30px;
}
.main__menu--links:nth-child(odd)::after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  background: #BDBDBD;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  margin: 6px 14px 9px 14px;
}
.main__menu--links {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #BDBDBD;
}
.main__button {
  position: relative;
  display: flex;
  align-content: center;
  margin-bottom: 44px;
}
.main__button p {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #333333;
  margin-left: 20px;
}
.main__button--prev::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 25%;
  background-image: url(../images/arrow_prev.svg);
  background-repeat: no-repeat;
  width: 10px;
  height: 15px;
}

.cards-list {
  display: flex;
  justify-content: space-between;
}
.cards-list__card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px 20px 30px;
  border: 1px solid #F2F2F2;
  box-shadow: -8px -8px 15px #FFFFFF, 8px 8px 15px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  width: 315px;
  margin-right: 20px;
}
.cards-list__card__card:nth-child(4n) {
  margin-right: 0px;
}
.cards-list__card .image {
  background-color: #FFFFFF;
  border-radius: 10px;
  margin-bottom: 25px;
}
.cards-list__card .title {
  font-weight: 600;
  font-size: 24px;
  line-height: 31px;
  color: #333333;
  margin-bottom: 5px;
}
.cards-list__card .description {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #828282;
  margin-bottom: 25px;
}
.cards-list__card .price {
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #333333;
  margin-bottom: 25px;
}

.card_form input {
  display: none;
}
.card_form label {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #4F4F4F;
}
.card_form__radio--1w {
  border: 1px solid #3ECF5E;
  border-radius: 5px;
  color: #3ECF5E;
  margin-right: 12px;
  padding: 4px 12px;
}
.card_form__radio--2w {
  margin-right: 23px;
}
.card_form__radio--3w {
  margin-right: 31px;
}