@import "./fonts";

$mainFontColor: #000000;

@mixin font ($fw, $fs, $lh, $col) {
  font-weight: $fw;
  font-size: $fs;
  line-height: $lh;
  color: $col;
}

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

.wrapper {
  width: 1320px;
  margin-right: auto;
  margin-left: auto;
}

body {
  font-family: 'Gilroy';
  font-style: normal;
}

a {
  text-decoration: none;
  // display: inline-block;
}

.header {
  background-color: #FFFFFF;
  box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.05), inset 0px -5px 15px rgba(255, 255, 255, 0.44);
  padding-top: 48px;
  padding-bottom: 15px;

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 42px;
  }

  &__contact_phone { 
    display: flex;
    align-items: center;
    margin-right: 60px;
  }

  &__right_flex {
    display: flex;
    align-items: center;
    font-size: 0;
  }

  &__logo-call {
    margin-right: 11px;
  }

  &__number {
    @include font (400, 18px, 21px, #000000)
  }

  &__icons {
    display: flex;
    align-items: center;
  }

  &__buy {
    position: relative;
    margin-right: 15px;
  }

  &__buy_logo {
    width: 25px;
    height: 25px;
  }

  &__number-of-buy {
    @include font (600, 12px, 15px, #FFFFFF);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-color: #06D10E;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    left: 50%;
    top: -40%;
  }

  &__account_logo {
    width: 25px;
    height: 25px;
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__nav {
    position: relative;
    font-size: 0;
  }

  &__link {
    @include font (500, 18px, 21px, #4F4F4F);
    margin-right: 40px;
  }

  &__link:last-child {
    margin-right: 0px;
  }

  &__link--arrow::after {
    content: "";
    position: absolute;
    left: 75px;
    top: 8px;
    background-image: url(../images/arrow_nav.svg);
    background-repeat: no-repeat;
    width: 10px;
    height: 10px;
  }

  &__form {
    position: relative;
  }

  &__search {
    display: inline-block;
    outline: none;
    background: #F2F2F2;
    border: 1px solid #BDBDBD;
    border-radius: 10px;
    height: 54px;
    width: 345px;
  }

  &__search::placeholder {
    @include font (400, 18px, 21px, #828282);
    font-family: 'Gilroy';
    font-style: normal;
    padding: 17px 273px 16px 20px;
  }

  &__search--img {
    position: absolute;
    right: 23px;
    top: 25%;
  }
}

.main {
  background-color: #F9F9F9;
  padding-top: 90px;
  padding-bottom: 100px;
  font-size: 0px;
  margin-bottom: 30px;

  &__menu {
    margin-bottom: 30px;
  }

  &__menu--links:nth-child(odd)::after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    background: #BDBDBD;;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    margin: 6px 14px 9px 14px;
  }

  &__menu--links {
    @include font (500, 18px, 21px,#BDBDBD);
  }

  &__button {
    position: relative;
    display: flex;
    align-content: center;
    margin-bottom: 44px;

    p {
      @include font (500, 20px, 24px, #333333);
      margin-left: 20px;
    }

  }

  &__button--prev::before {
    content: "";
    position: absolute;
    left: 0px;
    top: 25%;
    background-image: url(../images/arrow_prev.svg);
    background-repeat: no-repeat;
    width: 10px;
    height: 15px;
  }
}

.cards-list {
  

  &__card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 20px 30px;
    border: 1px solid #F2F2F2;
    box-shadow: -8px -8px 15px #FFFFFF, 8px 8px 15px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    
    .image {
      background-color: #FFFFFF;
      border-radius: 10px;
      margin-bottom: 25px;
    }

    .title {
      @include font (600, 24px, 31px, #333333);
      margin-bottom: 5px;
    }

    .description {
      @include font (400, 16px, 21px, #828282);
      margin-bottom: 25px;
    }

    .price {
      @include font (700, 22px, 27px, #333333);
      margin-bottom: 25px;
    }
  }
}