* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

.wrapper {
  width: 1320px;
  margin-right: auto;
  margin-left: auto;
}

body {
  font-family: 'Gilroy';
  font-style: normal;
}

a {
  text-decoration: none;
  // display: inline-block;
}